/* Fontnya */
@font-face {
  font-family: "Ubuntu";
  src: url('./Assets/fonts/Ubuntu-L.ttf');
  font-weight: 700;
}

@font-face {
  font-family: "FFF_Tusj";
  src: url('./Assets/fonts/FFF_Tusj.ttf');
}


/* default CSS */
body{
  
  
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Ubuntu', sans-serif !important;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  scroll-padding-top: 75px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* Formnya */

.forminputan{
  margin-left: 460px;
  
  
  
}

.inputdatanya{
  width: 300px;
  height: auto;
  border-radius: 10px;
}

.inputdatanya:hover{
    box-shadow : 0px 0px 10px #2081ffda !important;

    

}

.buttonform{
  width: 200px;
  height: 35px;
  border-radius: 7px;

}

.buttonform:hover{
  box-shadow : 0px 0px 10px #0d5dc5 !important;

    background-color: #0d5dc5;
}

/*END Formnya */


/* MapList */
.buttoncard:hover{
  box-shadow : 0px 0px 10px #dfe2e7d8 !important;

}

.cardnya:hover{
  box-shadow : 0px 0px 10px #dfe2e7d8 !important;

}

.idnya{
  font-size: x-large;
  font-weight: bolder;
  font-family: 'FFF_Tusj', sans-serif !important;
}



/*END MapList */